ul.infolist {
  list-style: none;
  margin-left: 0;
  padding-left: 0;
  @extend .btn;
  cursor: inherit;
  color: inherit;
  &:hover { color: inherit; }

  li {
    padding-left: 2em;
    text-indent: 0em;
  }

  li:before {
    content: "ℹ️";
  }
}

@media (min-width: 50rem) {
  .site-header { display: flex; min-height: 120px; align-items: center; }
  .site-header { height: 120px; max-height: 120px; border-bottom: 1px solid #eeebee; }
  .site-logo { height: 5em; margin-top: 2em; }
}

@media (min-width: 50rem) { figure video { height: 15em; } }
@media (max-width: 50rem) { figure video { width: 100%;  } }

.btn-pink { @include btn-color($white, #d64161); }
